@page
@model ForumModel
@{
    ViewData["Title"] = "Startsida";
}

<form>
    <p>
        <select asp-for="@Model.ChooseableTopics" asp-items="@Model.Subforums.Select(s => new SelectListItem { Value = s.Name, Text = s.Name })">
            <option value="">All</option>
        </select>
        Topics: <input type="text" asp-for="@Model.SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

@if (Model.SearchString != null)
{
    @foreach (var item in Model.Subforums)
    {
        @if (string.IsNullOrEmpty(Model.SearchString) || (item.NewPosts != null && item.NewPosts.Any(np => np.Header != null && np.Header.IndexOf(Model.SearchString, StringComparison.OrdinalIgnoreCase) >= 0) && (string.IsNullOrEmpty(Model.ChooseableTopics) || item.Name == Model.ChooseableTopics)))
        {
            <div class="card border-2 mb-4">
                <div class="card-header bg-warning text-black fs-4 fw-bold">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <table class="table table-striped">
                    @foreach (var post in item.NewPosts.Where(np => np.Header != null && np.Header.IndexOf(Model.SearchString, StringComparison.OrdinalIgnoreCase) >= 0))
                    {
                        <tr>
                            <td>
                                <div><a asp-page="./PostComment" asp-route-id="@post.Id" class="text-black col-4 text-decoration-none">@Html.DisplayFor(modelPost => post.Header)</a></div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
    }
}

else
{
    foreach (var forum in @Model.Forums)
    {
        <div class="card border-2 mb-4">
            <div class="card-header bg-warning text-black fs-4 fw-bold">
                @forum.Name
            </div>
            <div class="m-0 p-0 text-start">
                <table class="table table-striped">
                    <tbody>
                        @foreach (var subforum in @forum.SubForums)
                        {
                            <tr>
                                <td>
                                    <div class="row">
                                        <a class="text-black col-4 text-decoration-none" asp-route-id="@subforum.Id" asp-page="./ForumPost">@subforum.Name</a>

                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}