@page
@using Extensions
@model Disc_Cord.Pages.InboxModel
@inject SignInManager<Models.ApplicationUser> SignInManager
@inject UserManager<Models.ApplicationUser> UserManager
@{
	var user = await UserManager.GetUserAsync(User);
	string[] headlines = new string[] { "Meddelande", "Skickat av", "Skickat", "" };

}

@if (SignInManager.IsSignedIn(User))
{
	<a name="sendNewMessage" class="btn btn-warning me-2 mb-2" data-bs-toggle="modal" data-bs-target="#sendNewMessage">Skicka nytt meddelande</a>


	<div class="modal fade" id="sendNewMessage" tabindex="-1" aria-labelledby="sendNewMessageLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="sendNewMessageLabel">Skicka nytt meddelande</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body text-start">
					<form method="post">
						<input asp-for="NewMessage.SenderId" type="hidden" value="@user.Id" />
						<input asp-for="NewMessage.IsRead" type="hidden" value="false" />
						<input asp-for="NewMessage.Headline" class="form-control mb-1" placeholder="Rubrik" />
						<textarea asp-for="NewMessage.Text" class="form-control" cols="40" rows="5" placeholder="Skriv ditt meddelande"></textarea>
						<div class="modal-footer">
						<label for="NewMessage_ReceiverId">Mottagare: </label>
							<select class="mt-2 mb-2" asp-for="NewMessage.ReceiverId" asp-items="@(new SelectList(Model.Users, "Id", "Alias"))"><option value="">Välj en mottagare</option></select>
							
						<br>
							<input type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Avbryt" />

							<input type="submit" name="addTask" value="Skicka" class="btn btn-primary" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	@if (Model.Messages != null)
	{

		<div class="card border-2">
			<div class="card-header bg-warning text-black fs-4 fw-bold">
				Inbox
			</div>
			<div class="m-0 p-0 text-start">
				<table class="table table-striped m-0 p-0">
					<thead class="bg-black text-white">
						<tr>

							@foreach (var h in headlines)
							{
								<th>@h</th>
							}
						</tr>
					</thead>
					<tbody>
						@foreach (var message in Model.Messages)
						{
							<tr>
								<td>
									@if (message.IsRead)
									{
										<a class="text-black col-10 text-decoration-none fs-5" asp-route-messageid="@message.Id" asp-page="./InboxMessage">@message.Headline.LimitLength(30)</a>
										<p>@message.Text.LimitLength(20)</p>


									}
									else
									{
										<a class="text-black col-10 text-decoration-none fw-bold fs-5" asp-route-messageid="@message.Id" asp-page="./InboxMessage">@message.Headline.LimitLength(30)</a>
										<p>@message.Text.LimitLength(20)</p>

									}
								</td>
								@foreach (var u in Model.Users)
								{
									@if (@u.Id == message.SenderId && @u.Alias != null)
									{

										<td>

											<p class="text-black text-decoration-none pb-0 mb-0"><a asp-page="./UserPage" asp-route-userid="@u.Id">@u.Alias</a></p>
										</td>
										<td>
											<p class="fw-lighter">@message.Timestamp.ToString("dd/MM/yy HH:mm")</p>
										</td>
									}
								}
								<td>
									<a type="submit" class="btn btn-danger" asp-route-deletemessageid="@message.Id">Ta bort</a>

								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	}
}
