@page
@model Disc_Cord.Pages.InboxMessageModel
@inject UserManager<Models.ApplicationUser> UserManager;
@{
	var sender = UserManager.Users.FirstOrDefault(x => x.Id == Model.Message.SenderId);
	var user = await UserManager.GetUserAsync(User);
}

<div class="card">
	<div class="card-header d-flex justify-content-between">
		<div>
			<a class="text-warning fw-bold text-decoration-none pb-0 mb-0" asp-page="./UserPage" asp-route-userid="@sender.Id">@sender.Alias</a>
			<p>@Model.Message.Timestamp.ToString()</p>
		</div>
		<div class="mt-2 me-2">
			<a type="submit" class="btn btn-danger" asp-route-deletemessageid="@Model.Message.Id">Ta bort</a>
		</div>

	</div>
	<div class="card-body" style="white-space: pre-wrap">
		<p class="card-text" style="margin-top: 0">@Model.Message.Text</p>
	</div>
</div>
<br />
<h5>Skicka meddelande tillbaka</h5>
<form method="post">
    <input asp-for="NewMessage.SenderId" type="hidden" value="@user.Id" />
    <input asp-for="NewMessage.ReceiverId" type="hidden" value="@sender.Id" />
    <input asp-for="NewMessage.IsRead" type="hidden" value="false" />
    <input asp-for="NewMessage.Timestamp" type="hidden" value="@DateTime.Now" />

	<textarea id="NewMessageText" class="form-control" cols="40" rows="5" name="NewMessage.Text" onblur="this.placeholder = '@Model.Message.Text'">&#13;&#13;----------------------------------&#13;&#13;@Model.Message.Text</textarea>

    <br>
    <a asp-page="./Inbox" asp-route-userid="@user.Id" class="btn btn-secondary">Tillbaka</a>
    <input type="submit" name="addTask" value="Skicka" class="btn btn-primary" />
</form>

