@page
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
	var user = await UserManager.GetUserAsync(User);
	var datenow = DateTime.Now;
}

@model Disc_Cord.Pages.PostCommentModel
@{
}


<div class="card border-2">
	<div class="card-header bg-warning py-1 pe-0 text-black">
		<div class="m-1 text-start">
			@Model.Post.Date.ToString()<span class="float-end me-2">
				@if (SignInManager.IsSignedIn(User))
				{
					<a asp-route-userid="@user.Id" asp-route-postid="@Model.Post.Id"><i class="bi bi-disc text-black text-end me-2"></i></a>

					@Model.Post.LikeCounter

				}
				else
				{
					<i class="bi bi-disc text-black text-end me-2"></i>

					@Model.Post.LikeCounter
				}
			</span>
		</div>
	</div>
	<div class="card-body row m-1">
		<div class="card col-md-3 bg-light h-25">
			<div class="card-body text-center">
				<img src="~/img/logoheader.png" width="50" />
				<p>@Model.Post.UserId</p>
				<p>Email</p>
			</div>
		</div>

		<div class="card col-8 ms-3 border-0">
			<div class="card-body pt-0">
				<h4 class="mt-0">@Model.Post.Header</h4>
				<p class="card-text">@Model.Post.Text</p>

				@if (@Model.Post.Image != null && @Model.Post.Image != "")
				{
					<img src="~/img/@Model.Post.Image" width="100">
				}
			</div>
		</div>
	</div>
	<div class="card-footer bg-light text-end p-1">
		@if (user != null && user.Id == Model.Post.UserId)
		{
			<button name="deletePost" class="btn btn-outline-danger p-1 me-2" data-bs-toggle="modal" data-bs-target="#deletePost">Ta bort post</button>

			<!-- Modal -->
			<div class="modal fade" id="deletePost" tabindex="-1" aria-labelledby="deletePostLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="deletePostLabel">Ta bort post</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p class="lead">Är du säker på att du vill ta bort posten? Alla eventuella kommentarer kommer att raderas.</p>

							<form method="post">
								<div class="modal-footer">
									<a type="submit" class="btn btn-danger" asp-route-deletebool="true" asp-route-deletepostid="@Model.Post.Id">Ta bort</a>
									<input type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Avbryt" />
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>


		}
		<a href="#"><i class="bi bi-flag-fill text-warning me-2"></i></a>
	</div>
</div>

@if (Model.Post.Text != null)
{
	@foreach (var comment in Model.Post.Comments)
	{
		<div class="card mt-4 border-2">
			<div class="card-header bg-secondary pe-0 py-1 text-light">
				<div class="m-1">
					@comment.Date.ToString()<span class="float-end me-2">
						@if (SignInManager.IsSignedIn(User))
						{
							<a asp-route-userid="@user.Id" asp-route-commentid="@comment.Id"><i class="bi bi-disc text-black text-end me-2"></i></a>

							@comment.LikeCounter

						}
						else
						{
							<i class="bi bi-disc text-black text-end me-2"></i>

							@comment.LikeCounter
						}
					</span>
				</div>
			</div>
			<div class="card-body row m-1">
				<div class="card col-3 bg-light h-25">
					<div class="card-body text-center">
						<img src="~/img/logoheader.png" width="50" />
						<p>@comment.UserId</p>
					</div>
				</div>

				<div class="card col-8 ms-3 border-0">
					<div class="card-body pt-0">
						<p class="card-text">@comment.Text</p>
						@if (@comment.Image != null && @comment.Image != "")
						{
							<img src="~/img/@comment.Image" width="100">
						}

					</div>
				</div>
			</div>
			<div class="card-footer bg-light text-end p-1">
				@if (user != null && user.Id == comment.UserId)
				{
					@*<a asp-route-deletecommentid="@comment.Id" class="btn btn-secondary text-light p-1 me-2">Ta bort kommentar</a>*@
					<button name="delete" class="btn btn-outline-danger p-1 me-2" data-bs-toggle="modal" data-bs-target="#delete">Ta bort kommentar</button>

					<!-- Modal -->
					<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h1 class="modal-title fs-5" id="newpostLabel">Ta bort kommentar</h1>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<p class="lead">Är du säker på att du vill ta bort kommentaren?</p>

									<form method="post">
										<div class="modal-footer">
											<a type="submit" class="btn btn-danger" asp-route-deletecomment="true" asp-route-deletecommentid="@comment.Id">Ta bort</a>
											<input type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Avbryt" />
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>


				}
				<a href="#"><i class="bi bi-flag-fill text-warning me-2"></i></a>
			</div>
		</div>

		@*		<p>@comment.Text</p>
		<p>@comment.Date.ToString()</p>
		if (comment.Image != null && comment.Image != "")
		{
			<img src="~/img/@comment.Image" width="100">
		}

*@

	}
}

<br />

@if (SignInManager.IsSignedIn(User))
{
	<form method="post" enctype="multipart/form-data">
		<input asp-for="NewComment.UserId" type="hidden" value="@user.Id" />
		<input asp-for="NewComment.Date" type="hidden" value="@datenow" />
		<input asp-for="NewComment.NewPostId" type="hidden" value="@Model.Post.Id" />


		<label asp-for="NewComment.Text" class="form-label">Din kommentar:</label>
		<textarea asp-for="NewComment.Text" class="form-control" cols="40" rows="5"></textarea>

		<label asp-for="NewComment.Image" class="form-label mt-1">Lägg till bild</label>
		<input type="file" class="form-control" name="UploadedImage" />

		<input type="submit" class="btn btn-success mt-1" value="Lägg till kommentar" />

	</form>

}