@page
@inject UserManager<Models.ApplicationUser> UserManager;
@inject SignInManager<Models.ApplicationUser> SignInManager;
@model Disc_Cord.Pages.UserPageModel
@{
    var loggedInUser = await UserManager.GetUserAsync(User);
}

<div class="card mt-4 border-2">
    <div class="card-header bg-secondary pe-0 py-1 text-light">
        @Model.User.Alias
    </div>
    <div class="m-1">
        <div class="card-body m-1">
            <div class="row">
                <div class="col-md-6">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <img src="~/img/@Model.User.ImageUrl" width="150px" />
                            <br />
                            <br />
                            <button name="newmessage" class="btn btn-success me-2" data-bs-toggle="modal" data-bs-target="#newmessage">Skicka meddelande till @Model.User.Alias</button>
                            <p class="mt-3">@Model.User.AboutMe</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card ms-3 border-0">
                        <div class="card-body pt-0">
                            <table class="table table-striped m-0 p-0">
                                <thead class="bg-black text-white">
                                    <tr>
                                        <th>Senaste aktivitet</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Activities)
                                    {
                                        var date = item.GetType().GetProperty("Date")?.GetValue(item);
                                        var text = item.GetType().GetProperty("Text")?.GetValue(item)?.ToString();
                                        var truncatedText = "place";
                                        if (text != null)
                                        {
                                            truncatedText = text?.Length > 20 ? (text.Substring(0, Math.Min(20, text.Length)) + "...") : text;
                                        }

                                        var id = item.GetType().GetProperty("Id")?.GetValue(item);
                                        var postOrComment = item.GetType().GetProperty("PostOrComment")?.GetValue(item);

                                        <tr>
                                            <td>
                                                @if (@postOrComment != null)
                                                {
                                                    <a class="text-black text-decoration-none text-start" asp-route-id="@id" asp-page="./PostComment">Skapade inlägget:  <span class="fw-light text">@text </span></a>
                                                }
                                                else
                                                {
                                                    <a class="text-black text-decoration-none text-start" asp-route-id="@id" asp-page="./PostComment">Kommenterade: <span class="fw-light text">@truncatedText </span></a>
                                                }
                                                <span class="text-end fw-lighter">@date</span>
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@if (SignInManager.IsSignedIn(User))
{
    <div class="modal fade" id="newmessage" tabindex="-1" aria-labelledby="newmessage" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="returnMessageLabel">Nytt meddelande</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-start">
                    <form method="post">
                        <input asp-for="Message.SenderId" type="hidden" value="@loggedInUser.Id" />
                        <input asp-for="Message.ReceiverId" type="hidden" value="@Model.User.Id" />
                        <input asp-for="Message.IsRead" type="hidden" value="false" />
                        <input asp-for="Message.Headline" class="form-control mb-1" placeholder="Rubrik" />


                        <textarea id="MessageText" class="form-control" cols="40" rows="5" name="Message.Text" placeholder="Skriv ditt meddelande"></textarea>

                        <br>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Avbryt" />

                            <input type="submit" name="addTask" value="Skicka" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}